<section class="mapa">
  <div class="container">
    <h2>Monitorea el Tráfico en Tiempo Real en Tuxtla Gutiérrez</h2>
    <p>Descubre las rutas más rápidas y evita congestiones con nuestra plataforma en tiempo real.</p>
    <a href="#" class="button" (click)="mostrarAlerta()">Ver el Tráfico</a>
  </div>
</section>
<section id="about" class="about">
    <div class="container">
      <h2>Sobre Nosotros</h2>
      <p>Somos una plataforma dedicada a mostrar el tráfico en tiempo real en la ciudad de Tuxtla Gutiérrez, Chiapas. Nuestro objetivo es ayudarte a evitar el tráfico y mejorar tu experiencia en la ciudad.</p>
    </div>
  </section>
  